body {
  margin: 0; }

.header {
  border: 1px solid #BBB;
  border-right: none;
  border-top: none;
  display: flex;
  justify-content: space-between; }
  .header__logo {
    height: 50px;
    width: auto; }
  .header .fa {
    position: relative;
    font-size: 25px;
    width: auto;
    top: 10px;
    right: 10px;
    color: #999; }
    @media screen and (min-width: 1024px) {
      .header .fa {
        display: none; } }
  .header__ul {
    display: none; }
    @media screen and (min-width: 1024px) {
      .header__ul {
        display: flex;
        list-style-type: none; } }
    .header__ul li {
      padding: 10px 40px;
      border-left: 2px solid #fecd2f; }
      .header__ul li a {
        text-decoration: none;
        color: #333; }

.title {
  font-family: "Georgia", "Palatino", serif;
  font-size: 14px;
  color: #111;
  margin: 10px 10px;
  margin-bottom: 50px; }
  @media screen and (min-width: 768px) {
    .title {
      font-size: 20px;
      margin: 10px 20px;
      margin-bottom: 40px; } }
  @media screen and (min-width: 1024px) {
    .title {
      width: 70%; } }
  .title h1, .title h2 {
    letter-spacing: 8px; }
  .title h1 {
    margin: 50px 0; }
  .title a {
    text-decoration: none;
    color: #111;
    border-bottom: 2px solid #fecd2f; }
  @media screen and (min-width: 1024px) {
    .title {
      width: 60%;
      position: relative;
      left: 50%;
      transform: translatex(-50%); } }

.container {
  width: 100%;
  display: flex;
  flex-direction: column; }
  @media screen and (min-width: 768px) {
    .container__article {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 30px; } }
  .container__article__img {
    position: relative;
    left: 50%;
    transform: translatex(-50%);
    width: 95%; }
    @media screen and (min-width: 768px) {
      .container__article__img {
        left: 0;
        width: 60%;
        padding-left: 20px;
        transform: none; } }
  @media screen and (min-width: 768px) {
    .container__article__text {
      width: 40%;
      margin-right: 20px; } }
  .container__article__text h3 {
    margin: 0;
    padding-left: 15px;
    font-family: "Gill Sans", "Century Gothic", sans-serif; }
  .container__article__text p {
    padding: 0 15px;
    margin-left: 15px;
    border-left: 1px solid rgba(0, 0, 0, 0.2);
    margin-top: 10px; }
    @media screen and (min-width: 768px) {
      .container__article__text p {
        border-left: none;
        margin-left: 0;
        padding-left: 15px; } }
  @media screen and (min-width: 1024px) {
    .container {
      width: 60%;
      position: relative;
      left: 50%;
      transform: translatex(-50%); } }

.bttn_more {
  width: 95%;
  position: relative;
  left: 50%;
  transform: translatex(-50%);
  background-color: #fecd2f;
  border: 2px solid #111;
  height: 50px;
  color: #111;
  margin-bottom: 40px; }
  @media screen and (min-width: 768px) {
    .bttn_more {
      width: 70%; } }
  @media screen and (min-width: 1024px) {
    .bttn_more {
      width: 40%; } }

.pht_year {
  font-family: "Georgia", "Palatino", serif;
  font-size: 20px;
  color: #111;
  letter-spacing: 8px;
  padding: 0 15px; }

.see_more {
  text-decoration: none;
  color: #111;
  border-bottom: 2px solid #fecd2f;
  margin: 0 15px;
  font-size: 14px; }

@media screen and (min-width: 1024px) {
  .pht_year,
  .see_more {
    position: relative;
    left: 20%; } }

.monkey {
  width: 70%;
  position: relative;
  left: 50%;
  transform: translatex(-50%);
  margin-top: 30px; }
  @media screen and (min-width: 1024px) {
    .monkey {
      width: 50%; } }

.ng-container {
  position: relative;
  left: 50%;
  transform: translatex(-50%);
  width: 96%;
  display: flex;
  flex-direction: column;
  background-color: #333;
  color: white;
  margin-top: 15px; }
  @media screen and (min-width: 768px) {
    .ng-container {
      flex-direction: row;
      flex-wrap: wrap; } }
  .ng-container__block {
    padding: 10px;
    justify-content: center;
    text-align: center;
    margin: 25px auto; }
    @media screen and (min-width: 768px) {
      .ng-container__block {
        width: 40%; } }
    @media screen and (min-width: 1024px) {
      .ng-container__block {
        width: 20%; } }
    .ng-container__block h4 {
      text-align: center;
      font-family: "Gill Sans", "Century Gothic", sans-serif; }
    .ng-container__block__icons {
      position: relative;
      left: 50%;
      transform: translatex(-50%);
      display: flex;
      justify-content: space-evenly;
      font-size: 24px; }
      .ng-container__block__icons .fa {
        color: #425499; }
      .ng-container__block__icons .fa:first-of-type {
        color: #39A9EE; }
      .ng-container__block__icons .fa:last-of-type {
        color: #577DA5; }
    .ng-container__block p {
      font-size: 14px;
      padding: 0 20px; }
    .ng-container__block a {
      text-decoration: none;
      color: white;
      font-weight: bolder;
      border-bottom: 2px solid #fecd2f; }

.sb-container {
  width: 96%;
  position: relative;
  left: 50%;
  transform: translatex(-50%);
  background-color: #AAA;
  margin-top: 0;
  padding-bottom: 15px; }
  @media screen and (min-width: 768px) {
    .sb-container {
      display: flex;
      flex-direction: row;
      justify-content: space-between; } }
  .sb-container__block {
    font-size: 26px;
    font-family: "Georgia", "Palatino", serif;
    padding: 5px 15px; }
    @media screen and (min-width: 768px) {
      .sb-container__block {
        width: 40%;
        padding-left: 20px;
        border-left: 1px solid #888;
        margin: 30px auto;
        position: left; } }
    @media screen and (min-width: 768px) {
      .sb-container__block:last-of-type {
        position: right; } }
    .sb-container__block h4 {
      margin-bottom: 0; }
      @media screen and (min-width: 768px) {
        .sb-container__block h4 {
          margin-top: 0; } }
    .sb-container__block input {
      width: 30%;
      border: none;
      border: 1px solid #888;
      border-radius: 2px;
      height: 26px;
      margin-top: 0; }
    .sb-container__block button {
      background-color: #fecd2f;
      border: none;
      border-radius: 2px;
      height: 24px;
      margin-bottom: 30px; }
      @media screen and (min-width: 768px) {
        .sb-container__block button {
          margin-bottom: 0; } }
  .sb-container a {
    text-decoration: none;
    color: #111;
    padding-top: 15px; }
    @media screen and (min-width: 768px) {
      .sb-container a {
        margin-top: 20px; } }
