*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto';
  font-size: 14px;
  background-color: #f0f0f0;
}

.container {
  width: 85%;
  margin: 0 auto;
}

.header {
  background-color: #2a68e0;
  color: #dde5f9;
  padding: 20px;
  height: 100px;
}
.header__link {
  color: white;
  text-decoration: none;
  margin-left: 25px;
}

.grid {
  display: flex;
  justify-content: space-between;
}

.board__form {
  margin-top: -22px;
}

.card {
  font-size: 12px;
  border-radius: 3px;
  width: 30%;
  margin-top: 30px;
}
.card__title {
  color: #3f3f3f;
}
.card__quantity {
  color: #b0b0b0;
}
.card__content {
  background-color: white;
  font-size: 12px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  color: #808080;
  border: 1px solid #d7d7d7;
  height: 65vh;
  overflow: scroll;
}
.card__item {
  background-color: white;
  padding: 20px 15px;
  border-bottom: 1px solid #d7d7d7;
  position: relative;
}

.card__item:hover .card__action {
  display: block;
}

.card__item p {
  font-size: 13px;
  line-height: 1.4;
}
/*
.card .card__item:last-of-type {
  border-bottom: 0;
}
*/
.card__legend {
  color: #b7b7b7;
}

.form {
  background-color: white;
  border-radius: 4px;
  display: flex;
  padding: 4px;
}
.form__text {
  border: 0;
  height: 36px;
  flex: 1;
  padding: 0 5px;
}
.form__text:focus {
  outline: none;
}
.form__submit {
  background: linear-gradient(#3e7df6, #235bc8);
  border: 0;
  text-transform: uppercase;
  color: white;
  font-size: 11px;
  letter-spacing: 1px;
  font-weight: bold;
  width: 100px;
  text-align: center;
  border-radius: 2px;
}

.card__action {
  border: 1px solid #D4D4D4;
  background: linear-gradient(#F9F9F9, #D3D3D3);
  border-radius: 2px;
  color: #898989;

  position: absolute;
  top: 10px;
  right: 15px;
  display: none;
}

.card__action:focus {
  outline: none;
}

p {
  margin: 0;
}